In [2]:
import requests
import pandas as pd
from datetime import datetime, timedelta

API_KEY = "LrdX76M8tGhqdlSn8HHtnkhInkzEqeUe71YFQfN8"  # Replace with your actual key
target = 10000
asteroids_data = []

# Set the starting date
start_date = datetime.strptime("2024-01-01", "%Y-%m-%d")

while len(asteroids_data) < target:
    end_date = start_date + timedelta(days=6)  # 7-day range inclusive (Jan 1–7)
    
    # Corrected BASE_URL with dynamic date and API key injection
    BASE_URL = f"https://api.nasa.gov/neo/rest/v1/feed?start_date={start_date.strftime('%Y-%m-%d')}&end_date={end_date.strftime('%Y-%m-%d')}&api_key={API_KEY}"

    try:
        # Send the request to the NASA API
        response = requests.get(BASE_URL)
        response.raise_for_status()  # Check if the request was successful
        data = response.json()

        # Extract asteroid data
        for date, asteroids in data['near_earth_objects'].items():
            for i in asteroids:
                try:
                    diameter = i['estimated_diameter']['kilometers']
                    approach = i['close_approach_data'][0]
                    velocity = approach['relative_velocity']
                    miss_distance = approach['miss_distance']

                    # Structure the asteroid information into a dictionary
                    asteroid_info = {
                        "s.no": len(asteroids_data) + 1,
                        "id": i['id'],
                        "neo_reference_id": i['neo_reference_id'],
                        "name": i['name'],
                        "absolute_magnitude_h": float(i['absolute_magnitude_h']),
                        "estimated_diameter_min_km": diameter['estimated_diameter_min'],
                        "estimated_diameter_max_km": diameter['estimated_diameter_max'],
                        "is_potentially_hazardous_asteroid": i['is_potentially_hazardous_asteroid'],
                        "close_approach_date": approach['close_approach_date'],
                        "relative_velocity_kmph": velocity['kilometers_per_hour'],
                        "astronomical": miss_distance['astronomical'],
                        "miss_distance_km": miss_distance['kilometers'],
                        "miss_distance_lunar": miss_distance['lunar'],
                        "orbiting_body": approach['orbiting_body']
                    }

                    # Append the asteroid info to the list
                    asteroids_data.append(asteroid_info)
                    if len(asteroids_data) >= target:
                        break
                except Exception as e:
                    print(f"Skipping incomplete entry: {e}")
            if len(asteroids_data) >= target:
                break

        # Print the number of collected records
        print(f"Collected {len(asteroids_data)} asteroids till {end_date.strftime('%Y-%m-%d')}")

        # Move to the next 7-day range
        start_date = end_date + timedelta(days=1)

    except Exception as e:
        print(f"Error fetching data from {start_date.strftime('%Y-%m-%d')} to {end_date.strftime('%Y-%m-%d')}: {e}")
        # Move ahead to avoid infinite loop if there's an error
        start_date += timedelta(days=7)

# Convert the list of asteroid data to a DataFrame
df = pd.DataFrame(asteroids_data)

# Save the DataFrame to a CSV file
#df.to_csv("asteroids_10000.csv", index=False)

print("✅ Saved 10,000 asteroid records to 'asteroids_10000.csv'")

Collected 111 asteroids till 2024-01-07
Collected 253 asteroids till 2024-01-14
Collected 371 asteroids till 2024-01-21
Collected 510 asteroids till 2024-01-28
Collected 653 asteroids till 2024-02-04
Collected 777 asteroids till 2024-02-11
Collected 924 asteroids till 2024-02-18
Collected 1039 asteroids till 2024-02-25
Collected 1173 asteroids till 2024-03-03
Collected 1305 asteroids till 2024-03-10
Collected 1412 asteroids till 2024-03-17
Collected 1551 asteroids till 2024-03-24
Collected 1664 asteroids till 2024-03-31
Collected 1803 asteroids till 2024-04-07
Collected 1954 asteroids till 2024-04-14
Collected 2109 asteroids till 2024-04-21
Collected 2239 asteroids till 2024-04-28
Collected 2358 asteroids till 2024-05-05
Collected 2492 asteroids till 2024-05-12
Collected 2600 asteroids till 2024-05-19
Collected 2705 asteroids till 2024-05-26
Collected 2819 asteroids till 2024-06-02
Collected 2924 asteroids till 2024-06-09
Collected 3019 asteroids till 2024-06-16
Collected 3123 asteroids till 2024-06-23
Collected 3229 asteroids till 2024-06-30
Collected 3329 asteroids till 2024-07-07
Collected 3425 asteroids till 2024-07-14
Collected 3509 asteroids till 2024-07-21
Collected 3596 asteroids till 2024-07-28
Collected 3710 asteroids till 2024-08-04
Collected 3821 asteroids till 2024-08-11
Collected 3944 asteroids till 2024-08-18
Collected 4063 asteroids till 2024-08-25
Collected 4191 asteroids till 2024-09-01
Collected 4346 asteroids till 2024-09-08
Collected 4518 asteroids till 2024-09-15
Collected 4679 asteroids till 2024-09-22
Collected 4853 asteroids till 2024-09-29
Collected 5055 asteroids till 2024-10-06
Collected 5256 asteroids till 2024-10-13
Collected 5412 asteroids till 2024-10-20
Collected 5564 asteroids till 2024-10-27
Collected 5732 asteroids till 2024-11-03
Collected 5868 asteroids till 2024-11-10
Collected 6004 asteroids till 2024-11-17
Collected 6147 asteroids till 2024-11-24
Collected 6296 asteroids till 2024-12-01
Collected 6445 asteroids till 2024-12-08
Collected 6566 asteroids till 2024-12-15
Collected 6692 asteroids till 2024-12-22
Collected 6826 asteroids till 2024-12-29
Collected 6953 asteroids till 2025-01-05
Collected 7049 asteroids till 2025-01-12
Collected 7175 asteroids till 2025-01-19
Collected 7285 asteroids till 2025-01-26
Collected 7385 asteroids till 2025-02-02
Collected 7501 asteroids till 2025-02-09
Collected 7622 asteroids till 2025-02-16
Collected 7751 asteroids till 2025-02-23
Collected 7891 asteroids till 2025-03-02
Collected 8003 asteroids till 2025-03-09
Collected 8126 asteroids till 2025-03-16
Collected 8241 asteroids till 2025-03-23
Collected 8370 asteroids till 2025-03-30
Collected 8484 asteroids till 2025-04-06
Collected 8585 asteroids till 2025-04-13
Collected 8694 asteroids till 2025-04-20
Collected 8827 asteroids till 2025-04-27
Collected 8946 asteroids till 2025-05-04
Collected 9041 asteroids till 2025-05-11
Collected 9120 asteroids till 2025-05-18
Collected 9202 asteroids till 2025-05-25
Collected 9270 asteroids till 2025-06-01
Collected 9328 asteroids till 2025-06-08
Collected 9407 asteroids till 2025-06-15
Collected 9455 asteroids till 2025-06-22
Collected 9522 asteroids till 2025-06-29
Collected 9585 asteroids till 2025-07-06
Collected 9658 asteroids till 2025-07-13
Collected 9721 asteroids till 2025-07-20
Collected 9775 asteroids till 2025-07-27
Collected 9859 asteroids till 2025-08-03
Collected 9925 asteroids till 2025-08-10
Collected 9998 asteroids till 2025-08-17
Collected 10000 asteroids till 2025-08-24
✅ Saved 10,000 asteroid records to 'asteroids_10000.csv'

In [ ]:
df.to_csv(r"E:\Project_1\asteroids_10000.csv", index=False)

In [3]:
df

,s.no,id,neo_reference_id,name,absolute_magnitude_h,estimated_diameter_min_km,estimated_diameter_max_km,is_potentially_hazardous_asteroid,close_approach_date,relative_velocity_kmph,astronomical,miss_distance_km,miss_distance_lunar,orbiting_body
0,1,2415949,2415949,415949 (2001 XY10),19.37,0.355267,0.794401,False,2024-01-02,57205.8951204341,0.3372535274,50452409.349026638,131.1916221586,Earth
1,2,3160747,3160747,(2003 SR84),26.00,0.016771,0.037501,False,2024-01-02,38589.054833182,0.1323425924,19798169.933318188,51.4812684436,Earth
2,3,3309828,3309828,(2005 YQ96),20.62,0.199781,0.446725,True,2024-01-02,56413.0143519451,0.1670126223,24984732.559194501,64.9679100747,Earth
3,4,3457842,3457842,(2009 HC21),22.10,0.101054,0.225964,False,2024-01-02,21891.1182185894,0.4920511029,73609796.924990823,191.4078790281,Earth
4,5,3553062,3553062,(2010 XA11),26.10,0.016016,0.035813,False,2024-01-02,31468.9783588978,0.2358022486,35275514.131770482,91.7270747054,Earth
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,3837603,3837603,(2019 AD3),26.00,0.016771,0.037501,False,2025-08-15,42143.9832941062,0.3538332799,52932705.008153813,137.6411458811,Earth
9996,9997,54177987,54177987,(2021 PJ1),25.84,0.018053,0.040368,False,2025-08-15,33350.917479802,0.0111949657,1674743.023443059,4.3548416573,Earth
9997,9998,54245556,54245556,(2022 CR1),23.20,0.060891,0.136157,False,2025-08-15,43489.6822331644,0.3428887961,51295433.543424307,133.3837416829,Earth
9998,9999,54051260,54051260,(2020 QL2),23.47,0.053772,0.120238,False,2025-08-23,19675.8275198868,0.299276375,44771108.24132125,116.418509875,Earth
9999,10000,54255061,54255061,(2022 EW5),23.84,0.045348,0.101400,False,2025-08-23,85876.4188561846,0.4364810397,65296633.834505439,169.7911244433,Earth

In [16]:
df.isnull().sum()

s.no                                 0
id                                   0
neo_reference_id                     0
name                                 0
absolute_magnitude_h                 0
estimated_diameter_min_km            0
estimated_diameter_max_km            0
is_potentially_hazardous_asteroid    0
close_approach_date                  0
relative_velocity_kmph               0
astronomical                         0
miss_distance_km                     0
miss_distance_lunar                  0
orbiting_body                        0
dtype: int64

In [17]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   s.no                               10000 non-null  int64
 1   id                                 10000 non-null  object
 2   neo_reference_id                   10000 non-null  object
 3   name                               10000 non-null  object
 4   absolute_magnitude_h               10000 non-null  float64
 5   estimated_diameter_min_km          10000 non-null  float64
 6   estimated_diameter_max_km          10000 non-null  float64
 7   is_potentially_hazardous_asteroid  10000 non-null  bool
 8   close_approach_date                10000 non-null  object
 9   relative_velocity_kmph             10000 non-null  object
 10  astronomical                       10000 non-null  object
 11  miss_distance_km                   10000 non-null  object
 12  miss_distance_lunar                10000 non-null  object
 13  orbiting_body                      10000 non-null  object
dtypes: bool(1), float64(3), int64(1), object(9)
memory usage: 1.0+ MB

,s.no,absolute_magnitude_h,estimated_diameter_min_km,estimated_diameter_max_km
count,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,24.554311,0.071776,0.160496
std,2886.89568,2.592969,0.144529,0.323177
min,1.00000,13.810000,0.000799,0.001787
25%,2500.75000,22.900000,0.014014,0.031336
50%,5000.50000,24.800000,0.029144,0.065169
75%,7500.25000,26.390000,0.069913,0.156329
max,10000.00000,32.610000,4.597852,10.281109