In [2]:
from sqlalchemy import create_engine
import pandas as pd

# Create a SQLAlchemy engine for MySQL
engine = create_engine("mysql+pymysql://root:raja@127.0.0.1/project_nasa")

1.Count how many times each asteroid has approached Earth

In [42]:


# SQL query to count how many times each asteroid approached Earth
query = """
SELECT neo_reference_id, COUNT(*) AS approach_count
FROM close_approach
GROUP BY neo_reference_id
ORDER BY approach_count DESC;
"""

# Use Pandas to fetch the result into a DataFrame
approach_counts_df = pd.read_sql(query, engine)



# Display the result
print(approach_counts_df.head())

   neo_reference_id  approach_count
0           2522684               4
1           3023012               4
2           3520662               4
3           3591722               4
4           3678630               4

2.Average velocity of each asteroid over multiple approaches

In [43]:


# SQL query to calculate average velocity
query = """
SELECT 
    neo_reference_id, 
    AVG(relative_velocity_kmph) AS average_velocity
FROM 
    close_approach
GROUP BY 
    neo_reference_id
ORDER BY 
    average_velocity DESC;
"""

# Load query result into a DataFrame
avg_velocity_df = pd.read_sql(query, engine)


# Display result
print(avg_velocity_df.head())

   neo_reference_id  average_velocity
0          54277079     190513.421875
1          54392072     173071.828125
2          54239841     162470.750000
3           3803884     161520.890625
4           3790060     158279.859375

3.List top 10 fastest asteroids

In [44]:

# SQL query to get top 10 fastest asteroids
query = """
SELECT 
    neo_reference_id, 
    MAX(relative_velocity_kmph) AS max_velocity
FROM 
    close_approach
GROUP BY 
    neo_reference_id
ORDER BY 
    max_velocity DESC
LIMIT 10;
"""

# Fetch result as DataFrame
fastest_asteroids_df = pd.read_sql(query, engine)


# Display result
print(fastest_asteroids_df)

   neo_reference_id  max_velocity
0          54277079      190513.0
1          54392072      173072.0
2          54239841      162471.0
3           3803884      161521.0
4           3790060      158280.0
5          54194346      157682.0
6           3425295      154336.0
7           2001566      154203.0
8           3092220      152218.0
9           3588900      151520.0

4.Find potentially hazardous asteroids that have approached Earth more than 3 times

In [45]:


# Query for hazardous asteroids with more than 3 approaches
query = """
SELECT 
    a.id AS asteroid_id,
    a.name,
    COUNT(c.neo_reference_id) AS approach_count
FROM 
    asteroids a
JOIN 
    close_approach c ON a.id = c.neo_reference_id
WHERE 
    a.is_potentially_hazardous_asteroid = TRUE
GROUP BY 
    a.id, a.name
HAVING 
    approach_count > 3
ORDER BY 
    approach_count DESC;
"""

# Load result into DataFrame
hazardous_asteroids_df = pd.read_sql(query,engine)


# Display result
print(hazardous_asteroids_df)

   asteroid_id              name  approach_count
0      3825489        (2018 MG7)               4
1      3591722       (2011 YJ28)               4
2      2522684  522684 (2016 JP)               4

5.Find the month with the most asteroid approaches

In [46]:


# SQL query to find the busiest asteroid approach month
query = """
SELECT 
    MONTH(close_approach_date) AS approach_month,
    COUNT(*) AS total_approaches
FROM 
    close_approach
GROUP BY 
    approach_month
ORDER BY 
    total_approaches DESC
LIMIT 1;
"""

# Execute query and load result
busiest_month_df = pd.read_sql(query, engine)



# Display the result
print(busiest_month_df)

   approach_month  total_approaches
0               3              1099

In [47]:


# SQL query to find the month with the most asteroid approaches
query = """
SELECT 
    MONTH(close_approach_date) AS approach_month,
    COUNT(*) AS total_approaches
FROM 
    close_approach
GROUP BY 
    approach_month
ORDER BY 
    total_approaches DESC
LIMIT 1;
"""

# Use pandas with SQLAlchemy engine
busiest_month_df = pd.read_sql(query, engine)

# Display result
print(busiest_month_df)

   approach_month  total_approaches
0               3              1099

6.Get the asteroid with the fastest ever approach speed

In [48]:


# SQL query to get the asteroid with the fastest approach speed
query = """
SELECT 
    a.id AS asteroid_id,
    a.name,
    c.relative_velocity_kmph,
    c.close_approach_date
FROM 
    close_approach c
JOIN 
    asteroids a ON c.neo_reference_id = a.id
ORDER BY 
    c.relative_velocity_kmph DESC
LIMIT 1;
"""

# Run the query
fastest_asteroid_df = pd.read_sql(query, engine)

# Show result
print(fastest_asteroid_df)

   asteroid_id        name  relative_velocity_kmph close_approach_date
0     54277079  (2022 HB4)                190513.0          2025-04-15

7.Sort asteroids by maximum estimated diameter (descending)

In [49]:

# SQL query to sort asteroids by max diameter
query = """
SELECT 
    id,
    name,
    estimated_diameter_max_km
FROM 
    asteroids
ORDER BY 
    estimated_diameter_max_km DESC;
"""

# Run the query
sorted_diameter_df = pd.read_sql(query, engine)

# Display top 10 largest asteroids
print(sorted_diameter_df.head(10))

        id                  name  estimated_diameter_max_km
0  2000887  887 Alinda (A918 AA)                   10.28110
1  2001685   1685 Toro (1948 OA)                    8.28018
2  2066146      66146 (1998 TU3)                    7.98068
3  2138205   138205 (2000 EZ148)                    5.70217
4  2005660        5660 (1974 MA)                    4.98930
5  2533671    533671 (2014 LJ21)                    3.92681
6  2415029    415029 (2011 UL21)                    3.87293
7  2066008      66008 (1998 QH2)                    3.85514
8  2088188     88188 (2000 XH44)                    3.61443
9  2068350      68350 (2001 MK3)                    3.51593

8.Asteroids whose closest approach is getting nearer over time(Hint: Use ORDER BY close_approach_date and look at miss_distance)

In [50]:


# SQL query
query = """
SELECT 
    c.neo_reference_id,
    a.name,
    c.close_approach_date,
    c.miss_distance_km
FROM 
    close_approach c
JOIN 
    asteroids a ON c.neo_reference_id = a.id
ORDER BY 
    c.neo_reference_id, c.close_approach_date;
"""

# Load data
df = pd.read_sql(query, engine)

# Convert date column
df['close_approach_date'] = pd.to_datetime(df['close_approach_date'])

# Group by asteroid and check if miss_distance is decreasing over time
def is_getting_closer(group):
    return group['miss_distance_km'].is_monotonic_decreasing

# Filter asteroids with multiple records and decreasing trend
closer_asteroids = (
    df.groupby('neo_reference_id')
      .filter(lambda x: len(x) > 1 and is_getting_closer(x))
)

# Drop duplicates and show unique asteroids with decreasing distance
result = closer_asteroids[['neo_reference_id', 'name']].drop_duplicates()

print(result)

      neo_reference_id                     name
9              2004769  4769 Castalia (1989 PB)
22             2042286        42286 (2001 TN41)
49             2141531         141531 (2002 GB)
73             2163348        163348 (2002 NN4)
85             2175921        175921 (2000 DM1)
...                ...                      ...
9829          54524721               (2025 FB8)
9837          54524973              (2025 FS10)
9924          54526039                (2025 GL)
9969          54527124                (2025 HH)
9997          54527288               (2025 HJ1)

[510 rows x 2 columns]

9.Display the name of each asteroid along with the date and miss distance of its closest approach to Earth.

In [51]:


# Run the query
query = """
SELECT 
    a.name,
    c.close_approach_date,
    c.miss_distance_km
FROM 
    close_approach c
JOIN 
    asteroids a ON c.neo_reference_id = a.id
JOIN (
    SELECT 
        neo_reference_id,
        MIN(miss_distance_km) AS min_distance
    FROM 
        close_approach
    GROUP BY 
        neo_reference_id
) AS min_approach ON 
    c.neo_reference_id = min_approach.neo_reference_id AND
    c.miss_distance_km = min_approach.min_distance
ORDER BY 
    c.miss_distance_km ASC;
"""

closest_approaches_df = pd.read_sql(query, engine)

# Display top 10 results
print(closest_approaches_df.head(10))

          name close_approach_date  miss_distance_km
0    (2024 XA)          2024-12-01           7726.03
1   (2024 LH1)          2024-06-06           8098.26
2   (2024 UG9)          2024-10-30           8849.87
3   (2025 BP6)          2025-01-26           9711.95
4    (2024 HA)          2024-04-16          15555.10
5   (2024 UZ6)          2024-10-27          17525.10
6   (2024 GJ2)          2024-04-11          18673.70
7  (2024 RC42)          2024-09-12          21644.90
8   (2025 FY6)          2025-03-23          21944.30
9  (2024 JN16)          2024-05-14          24977.20

10.List names of asteroids that approached Earth with velocity > 50,000 km/h

In [52]:


# SQL query
query = """
SELECT DISTINCT 
    a.name, 
    c.relative_velocity_kmph
FROM 
    close_approach c
JOIN 
    asteroids a ON c.neo_reference_id = a.id
WHERE 
    c.relative_velocity_kmph > 50000
ORDER BY 
    c.relative_velocity_kmph DESC;
"""

#  Load into DataFrame
fast_asteroids_df = pd.read_sql(query, engine)

# Show top results
print(fast_asteroids_df.head(10))

                    name  relative_velocity_kmph
0             (2022 HB4)                190513.0
1             (2023 TS3)                173072.0
2             (2022 BH1)                162471.0
3             (2018 GG5)                161521.0
4            (2017 WP28)                158280.0
5             (2021 RV5)                157682.0
6              (2008 QB)                154336.0
7  1566 Icarus (1949 MA)                154203.0
8             (1999 GR6)                152218.0
9            (2011 WD39)                151520.0

11.Count how many approaches happened per month

In [53]:


query = """
SELECT 
    DATE_FORMAT(close_approach_date, '%%Y-%%m') AS approach_month,
    COUNT(*) AS approach_count
FROM 
    close_approach
GROUP BY 
    approach_month
ORDER BY 
    approach_month;
"""

monthly_approaches_df = pd.read_sql(query, engine)

# Display the monthly approach count
print(monthly_approaches_df.head(10))

  approach_month  approach_count
0        2024-01             566
1        2024-02             546
2        2024-03             555
3        2024-04             618
4        2024-05             500
5        2024-06             448
6        2024-07             415
7        2024-08             531
8        2024-09             716
9        2024-10             787

12.Find asteroid with the highest brightness (lowest magnitude value)

In [54]:


query = """
SELECT 
    name, 
    absolute_magnitude_h
FROM 
    asteroids
ORDER BY 
    absolute_magnitude_h ASC
LIMIT 1;
"""

brightest_asteroid_df = pd.read_sql(query, engine)

print(brightest_asteroid_df)

                   name  absolute_magnitude_h
0  887 Alinda (A918 AA)                 13.81

13.Get number of hazardous vs non-hazardous asteroids

In [ ]:


query = """
SELECT 
    is_potentially_hazardous_asteroid,
    COUNT(*) AS asteroid_count
FROM 
    asteroids
GROUP BY 
    is_potentially_hazardous_asteroid;
"""

hazardous_count_df = pd.read_sql(query, engine)

# Show the counts of hazardous vs non-hazardous
print(hazardous_count_df)

   is_potentially_hazardous_asteroid  asteroid_count
0                                  0            7773
1                                  1             481

14.Find asteroids that passed closer than the Moon (lesser than 1 LD), along with their close approach date and distance.

In [56]:

query = """
SELECT 
    a.name, 
    c.close_approach_date, 
    c.miss_distance_lunar
FROM 
    close_approach c
JOIN 
    asteroids a ON c.neo_reference_id = a.id
WHERE 
    c.miss_distance_lunar < 1
ORDER BY 
    c.miss_distance_lunar ASC;
"""

close_approach_closer_than_moon_df = pd.read_sql(query, engine)

# Show the results
print(close_approach_closer_than_moon_df.head(10))

          name close_approach_date  miss_distance_lunar
0    (2024 XA)          2024-12-01             0.020090
1   (2024 LH1)          2024-06-06             0.021058
2   (2024 UG9)          2024-10-30             0.023012
3   (2025 BP6)          2025-01-26             0.025254
4    (2024 HA)          2024-04-16             0.040448
5   (2024 UZ6)          2024-10-27             0.045571
6   (2024 GJ2)          2024-04-11             0.048557
7  (2024 RC42)          2024-09-12             0.056283
8   (2025 FY6)          2025-03-23             0.057062
9  (2024 JN16)          2024-05-14             0.064948

15.Find asteroids that came within 0.05 AU(astronomical distance)

In [57]:


query = """
SELECT 
    a.name, 
    c.close_approach_date, 
    c.astronomical
FROM 
    close_approach c
JOIN 
    asteroids a ON c.neo_reference_id = a.id
WHERE 
    c.astronomical < 0.05
ORDER BY 
    c.astronomical ASC;
"""

close_approach_near_asteroids_df = pd.read_sql(query, engine)

# Display the results
print(close_approach_near_asteroids_df.head(10))

          name close_approach_date  astronomical
0    (2024 XA)          2024-12-01      0.000052
1   (2024 LH1)          2024-06-06      0.000054
2   (2024 UG9)          2024-10-30      0.000059
3   (2025 BP6)          2025-01-26      0.000065
4    (2024 HA)          2024-04-16      0.000104
5   (2024 UZ6)          2024-10-27      0.000117
6   (2024 GJ2)          2024-04-11      0.000125
7  (2024 RC42)          2024-09-12      0.000145
8   (2025 FY6)          2025-03-23      0.000147
9  (2024 JN16)          2024-05-14      0.000167

16.List the names of asteroids that have the maximum estimated diameter but are non-hazardous.

In [58]:
query = """
SELECT 
    a.name, 
    GREATEST(a.estimated_diameter_min_km, a.estimated_diameter_max_km) AS max_diameter
FROM 
    asteroids a
WHERE 
    a.is_potentially_hazardous_asteroid = FALSE
ORDER BY 
    max_diameter DESC
LIMIT 1;
"""

# Execute the query and store the result
max_diameter_non_hazardous = pd.read_sql(query, engine)

# Display the result
print(max_diameter_non_hazardous)

                   name  max_diameter
0  887 Alinda (A918 AA)       10.2811

17.Find asteroids that passed Earth at a speed greater than 100,000 km/h

In [59]:
query = """
SELECT 
    a.name, 
    c.relative_velocity_kmph
FROM 
    close_approach c
JOIN 
    asteroids a ON c.neo_reference_id = a.id
WHERE 
    c.relative_velocity_kmph > 100000
ORDER BY 
    c.relative_velocity_kmph DESC;
"""

# Execute the query and store the result
fast_asteroids = pd.read_sql(query, engine)

# Display the result
print(fast_asteroids.head(10))

                    name  relative_velocity_kmph
0             (2022 HB4)                190513.0
1             (2023 TS3)                173072.0
2             (2022 BH1)                162471.0
3             (2018 GG5)                161521.0
4            (2017 WP28)                158280.0
5             (2021 RV5)                157682.0
6              (2008 QB)                154336.0
7  1566 Icarus (1949 MA)                154203.0
8             (1999 GR6)                152218.0
9            (2011 WD39)                151520.0

18. Find asteroids that passed Earth within 0.1 AU and have a magnitude greater than 20.

In [60]:
query = """
SELECT 
    a.name, 
    c.close_approach_date, 
    c.astronomical, 
    a.absolute_magnitude_h
FROM 
    close_approach c
JOIN 
    asteroids a ON c.neo_reference_id = a.id
WHERE 
    c.astronomical < 0.1 
    AND a.absolute_magnitude_h > 20
ORDER BY 
    c.astronomical;
"""

# Execute the query and store the result
close_asteroids_bright = pd.read_sql(query, engine)

# Display the result
print(close_asteroids_bright.head(10))

          name close_approach_date  astronomical  absolute_magnitude_h
0    (2024 XA)          2024-12-01      0.000052                 31.64
1   (2024 LH1)          2024-06-06      0.000054                 30.79
2   (2024 UG9)          2024-10-30      0.000059                 32.61
3   (2025 BP6)          2025-01-26      0.000065                 31.82
4    (2024 HA)          2024-04-16      0.000104                 31.77
5   (2024 UZ6)          2024-10-27      0.000117                 31.16
6   (2024 GJ2)          2024-04-11      0.000125                 30.37
7  (2024 RC42)          2024-09-12      0.000145                 32.38
8   (2025 FY6)          2025-03-23      0.000147                 30.91
9  (2024 JN16)          2024-05-14      0.000167                 29.59

19.Find the year with the highest number of asteroid approaches.

In [61]:
query = """
SELECT 
    YEAR(close_approach_date) AS approach_year, 
    COUNT(*) AS approach_count
FROM 
    close_approach
GROUP BY 
    approach_year
ORDER BY 
    approach_count DESC
LIMIT 1;
"""

# Execute the query and store the result
busiest_year = pd.read_sql(query, engine)

# Display the result
print(busiest_year)

   approach_year  approach_count
0           2024            6883

20.Get the asteroid with the most number of close approaches.

In [62]:
query = """
SELECT 
    a.name, 
    COUNT(*) AS approach_count
FROM 
    close_approach c
JOIN 
    asteroids a ON c.neo_reference_id = a.id
GROUP BY 
    a.name
ORDER BY 
    approach_count DESC
LIMIT 1;
"""

# Execute the query and store the result
most_approaches_asteroid = pd.read_sql(query, engine)

# Display the result
print(most_approaches_asteroid)

         name  approach_count
0  (2019 AE3)               4